*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.main{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav{
    width:100%;
    height:10vh;
    background-color: lightslategrey;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    font-size: 35px;
    font-family: monospace;
}

.play_area{
    width:100%;
    height:80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game_btns{
    width:50%;
    display: flex;
    gap:10px;
}

.game_btns img{
    width:33.33%;
    border-radius: 50%;
    cursor: pointer;
    border:3px solid transparent;
}

.game_btns img:hover{
    box-shadow: 0 0 8px black;
}

.game_btns img:active{
    border:3px solid grey;
}

.scores{
    width:30%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score_related{
    width:33.33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score_related span{
    font-size: 40px;
}

.score_related p{
    font-size: 20px;
}

.score_related h1{
    font-size: 30px;
}

.footer{
    width:100%;
    height:10vh;
    background-color: lightslategrey;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 10px;
    font-size: 18px;
}

.footer-logo{
    font-family: monospace;
    font-size: 20px;
}

.social_media{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_media a{
    margin:0 10px;
}

.social_media img{
    width:30px;
    transition: all 0.4s ease-in-out;
}

.social_media img:hover{
    width:40px;
    transform: translateY(-10px);
}